In [79]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler

In [80]:
train_df=pd.read_csv("/kaggle/input/train.csv")
train_df

     PassengerId  Survived  Pclass    ...         Fare        Cabin  Embarked
0              1         0       3    ...       7.2500          NaN         S
1              2         1       1    ...      71.2833          C85         C
2              3         1       3    ...       7.9250          NaN         S
3              4         1       1    ...      53.1000         C123         S
4              5         0       3    ...       8.0500          NaN         S
5              6         0       3    ...       8.4583          NaN         Q
6              7         0       1    ...      51.8625          E46         S
7              8         0       3    ...      21.0750          NaN         S
8              9         1       3    ...      11.1333          NaN         S
9             10         1       2    ...      30.0708          NaN         C
10            11         1       3    ...      16.7000           G6         S
11            12         1       1    ...      26.5500         C103         S
12            13         0       3    ...       8.0500          NaN         S
13            14         0       3    ...      31.2750          NaN         S
14            15         0       3    ...       7.8542          NaN         S
15            16         1       2    ...      16.0000          NaN         S
16            17         0       3    ...      29.1250          NaN         Q
17            18         1       2    ...      13.0000          NaN         S
18            19         0       3    ...      18.0000          NaN         S
19            20         1       3    ...       7.2250          NaN         C
20            21         0       2    ...      26.0000          NaN         S
21            22         1       2    ...      13.0000          D56         S
22            23         1       3    ...       8.0292          NaN         Q
23            24         1       1    ...      35.5000           A6         S
24            25         0       3    ...      21.0750          NaN         S
25            26         1       3    ...      31.3875          NaN         S
26            27         0       3    ...       7.2250          NaN         C
27            28         0       1    ...     263.0000  C23 C25 C27         S
28            29         1       3    ...       7.8792          NaN         Q
29            30         0       3    ...       7.8958          NaN         S
..           ...       ...     ...    ...          ...          ...       ...
861          862         0       2    ...      11.5000          NaN         S
862          863         1       1    ...      25.9292          D17         S
863          864         0       3    ...      69.5500          NaN         S
864          865         0       2    ...      13.0000          NaN         S
865          866         1       2    ...      13.0000          NaN         S
866          867         1       2    ...      13.8583          NaN         C
867          868         0       1    ...      50.4958          A24         S
868          869         0       3    ...       9.5000          NaN         S
869          870         1       3    ...      11.1333          NaN         S
870          871         0       3    ...       7.8958          NaN         S
871          872         1       1    ...      52.5542          D35         S
872          873         0       1    ...       5.0000  B51 B53 B55         S
873          874         0       3    ...       9.0000          NaN         S
874          875         1       2    ...      24.0000          NaN         C
875          876         1       3    ...       7.2250          NaN         C
876          877         0       3    ...       9.8458          NaN         S
877          878         0       3    ...       7.8958          NaN         S
878          879         0       3    ...       7.8958          NaN         S
879          880         1       1    ...      83.1583          C50         C
880          881         1       2    ...      26.0000          NaN         S
881          882         0       3    ...       7.8958          NaN         S
882          883         0       3    ...      10.5167          NaN         S
883          884         0       2    ...      10.5000          NaN         S
884          885         0       3    ...       7.0500          NaN         S
885          886         0       3    ...      29.1250          NaN         Q
886          887         0       2    ...      13.0000          NaN         S
887          888         1       1    ...      30.0000          B42         S
888          889         0       3    ...      23.4500          NaN         S
889          890         1       1    ...      30.0000         C148         C
890          891         0       3    ...       7.7500          NaN         Q

[891 rows x 12 columns]

In [81]:
test_df=pd.read_csv("/kaggle/input/test.csv")
test_ids=test_df["PassengerId"]

In [82]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [83]:
train_df[["Sex","Survived"]].groupby(["Sex"]).mean().sort_values(by='Survived',ascending=False)

        Survived
Sex
female  0.742038
male    0.188908

In [84]:
train_df[["Pclass","Survived"]].groupby(["Pclass"]).mean().sort_values('Survived',ascending=False)

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [85]:
train_df["Age"].fillna(train_df["Age"].mean())
train_df[["Embarked","Survived"]].groupby(["Embarked"]).mean().sort_values('Survived',ascending=False)

          Survived
Embarked
C         0.553571
Q         0.389610
S         0.336957

In [86]:
train_df["Family"]=train_df["SibSp"]+train_df["Parch"]
train_df["Family"]

0       1
1       1
2       0
3       1
4       0
5       0
6       0
7       4
8       2
9       1
10      2
11      0
12      0
13      6
14      0
15      0
16      5
17      0
18      1
19      0
20      0
21      0
22      0
23      0
24      4
25      6
26      0
27      5
28      0
29      0
       ..
861     1
862     0
863    10
864     0
865     0
866     1
867     0
868     0
869     2
870     0
871     2
872     0
873     0
874     1
875     0
876     0
877     0
878     0
879     1
880     1
881     0
882     0
883     0
884     0
885     5
886     0
887     0
888     3
889     0
890     0
Name: Family, Length: 891, dtype: int64

In [87]:
train_df2=train_df.drop(["Cabin","SibSp","Parch","Ticket","PassengerId"], axis="columns")
train_df2["Age"]=train_df2["Age"].fillna(train_df2["Age"].median())
train_df2["Age"]=train_df2["Age"].round()
train_df2["Age"]
train_df2["Embarked"]=train_df2["Embarked"].fillna("S")

In [88]:
logreg = LogisticRegression()
Y_train=train_df2["Survived"]
X_train=train_df2.drop("Survived",axis="columns")

In [89]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         891 non-null float64
Fare        891 non-null float64
Embarked    891 non-null object
Family      891 non-null int64
dtypes: float64(2), int64(2), object(3)
memory usage: 48.8+ KB

In [90]:
X_train

     Pclass  ...   Family
0         3  ...        1
1         1  ...        1
2         3  ...        0
3         1  ...        1
4         3  ...        0
5         3  ...        0
6         1  ...        0
7         3  ...        4
8         3  ...        2
9         2  ...        1
10        3  ...        2
11        1  ...        0
12        3  ...        0
13        3  ...        6
14        3  ...        0
15        2  ...        0
16        3  ...        5
17        2  ...        0
18        3  ...        1
19        3  ...        0
20        2  ...        0
21        2  ...        0
22        3  ...        0
23        1  ...        0
24        3  ...        4
25        3  ...        6
26        3  ...        0
27        1  ...        5
28        3  ...        0
29        3  ...        0
..      ...  ...      ...
861       2  ...        1
862       1  ...        0
863       3  ...       10
864       2  ...        0
865       2  ...        0
866       2  ...        1
867       1  ...        0
868       3  ...        0
869       3  ...        2
870       3  ...        0
871       1  ...        2
872       1  ...        0
873       3  ...        0
874       2  ...        1
875       3  ...        0
876       3  ...        0
877       3  ...        0
878       3  ...        0
879       1  ...        1
880       2  ...        1
881       3  ...        0
882       3  ...        0
883       2  ...        0
884       3  ...        0
885       3  ...        5
886       2  ...        0
887       1  ...        0
888       3  ...        3
889       1  ...        0
890       3  ...        0

[891 rows x 7 columns]

In [91]:
X_train=X_train.drop("Name", axis ="columns")

In [92]:
X_train

     Pclass     Sex   Age      Fare Embarked  Family
0         3    male  22.0    7.2500        S       1
1         1  female  38.0   71.2833        C       1
2         3  female  26.0    7.9250        S       0
3         1  female  35.0   53.1000        S       1
4         3    male  35.0    8.0500        S       0
5         3    male  28.0    8.4583        Q       0
6         1    male  54.0   51.8625        S       0
7         3    male   2.0   21.0750        S       4
8         3  female  27.0   11.1333        S       2
9         2  female  14.0   30.0708        C       1
10        3  female   4.0   16.7000        S       2
11        1  female  58.0   26.5500        S       0
12        3    male  20.0    8.0500        S       0
13        3    male  39.0   31.2750        S       6
14        3  female  14.0    7.8542        S       0
15        2  female  55.0   16.0000        S       0
16        3    male   2.0   29.1250        Q       5
17        2    male  28.0   13.0000        S       0
18        3  female  31.0   18.0000        S       1
19        3  female  28.0    7.2250        C       0
20        2    male  35.0   26.0000        S       0
21        2    male  34.0   13.0000        S       0
22        3  female  15.0    8.0292        Q       0
23        1    male  28.0   35.5000        S       0
24        3  female   8.0   21.0750        S       4
25        3  female  38.0   31.3875        S       6
26        3    male  28.0    7.2250        C       0
27        1    male  19.0  263.0000        S       5
28        3  female  28.0    7.8792        Q       0
29        3    male  28.0    7.8958        S       0
..      ...     ...   ...       ...      ...     ...
861       2    male  21.0   11.5000        S       1
862       1  female  48.0   25.9292        S       0
863       3  female  28.0   69.5500        S      10
864       2    male  24.0   13.0000        S       0
865       2  female  42.0   13.0000        S       0
866       2  female  27.0   13.8583        C       1
867       1    male  31.0   50.4958        S       0
868       3    male  28.0    9.5000        S       0
869       3    male   4.0   11.1333        S       2
870       3    male  26.0    7.8958        S       0
871       1  female  47.0   52.5542        S       2
872       1    male  33.0    5.0000        S       0
873       3    male  47.0    9.0000        S       0
874       2  female  28.0   24.0000        C       1
875       3  female  15.0    7.2250        C       0
876       3    male  20.0    9.8458        S       0
877       3    male  19.0    7.8958        S       0
878       3    male  28.0    7.8958        S       0
879       1  female  56.0   83.1583        C       1
880       2  female  25.0   26.0000        S       1
881       3    male  33.0    7.8958        S       0
882       3  female  22.0   10.5167        S       0
883       2    male  28.0   10.5000        S       0
884       3    male  25.0    7.0500        S       0
885       3  female  39.0   29.1250        Q       5
886       2    male  27.0   13.0000        S       0
887       1  female  19.0   30.0000        S       0
888       3  female  28.0   23.4500        S       3
889       1    male  26.0   30.0000        C       0
890       3    male  32.0    7.7500        Q       0

[891 rows x 6 columns]

In [93]:
dummies= pd.get_dummies(X_train.Sex)
X_train=X_train.drop("Sex",axis="columns")
X_train=pd.concat([X_train,dummies],axis="columns")
scaling=MinMaxScaler()
X_train[['Age','Fare']]=scaling.fit_transform(X_train[['Age','Fare']])
X_train

     Pclass     Age      Fare Embarked  Family  female  male
0         3  0.2750  0.014151        S       1       0     1
1         1  0.4750  0.139136        C       1       1     0
2         3  0.3250  0.015469        S       0       1     0
3         1  0.4375  0.103644        S       1       1     0
4         3  0.4375  0.015713        S       0       0     1
5         3  0.3500  0.016510        Q       0       0     1
6         1  0.6750  0.101229        S       0       0     1
7         3  0.0250  0.041136        S       4       0     1
8         3  0.3375  0.021731        S       2       1     0
9         2  0.1750  0.058694        C       1       1     0
10        3  0.0500  0.032596        S       2       1     0
11        1  0.7250  0.051822        S       0       1     0
12        3  0.2500  0.015713        S       0       0     1
13        3  0.4875  0.061045        S       6       0     1
14        3  0.1750  0.015330        S       0       1     0
15        2  0.6875  0.031230        S       0       1     0
16        3  0.0250  0.056848        Q       5       0     1
17        2  0.3500  0.025374        S       0       0     1
18        3  0.3875  0.035134        S       1       1     0
19        3  0.3500  0.014102        C       0       1     0
20        2  0.4375  0.050749        S       0       0     1
21        2  0.4250  0.025374        S       0       0     1
22        3  0.1875  0.015672        Q       0       1     0
23        1  0.3500  0.069291        S       0       0     1
24        3  0.1000  0.041136        S       4       1     0
25        3  0.4750  0.061264        S       6       1     0
26        3  0.3500  0.014102        C       0       0     1
27        1  0.2375  0.513342        S       5       0     1
28        3  0.3500  0.015379        Q       0       1     0
29        3  0.3500  0.015412        S       0       0     1
..      ...     ...       ...      ...     ...     ...   ...
861       2  0.2625  0.022447        S       1       0     1
862       1  0.6000  0.050610        S       0       1     0
863       3  0.3500  0.135753        S      10       1     0
864       2  0.3000  0.025374        S       0       0     1
865       2  0.5250  0.025374        S       0       1     0
866       2  0.3375  0.027050        C       1       1     0
867       1  0.3875  0.098561        S       0       0     1
868       3  0.3500  0.018543        S       0       0     1
869       3  0.0500  0.021731        S       2       0     1
870       3  0.3250  0.015412        S       0       0     1
871       1  0.5875  0.102579        S       2       1     0
872       1  0.4125  0.009759        S       0       0     1
873       3  0.5875  0.017567        S       0       0     1
874       2  0.3500  0.046845        C       1       1     0
875       3  0.1875  0.014102        C       0       1     0
876       3  0.2500  0.019218        S       0       0     1
877       3  0.2375  0.015412        S       0       0     1
878       3  0.3500  0.015412        S       0       0     1
879       1  0.7000  0.162314        C       1       1     0
880       2  0.3125  0.050749        S       1       1     0
881       3  0.4125  0.015412        S       0       0     1
882       3  0.2750  0.020527        S       0       1     0
883       2  0.3500  0.020495        S       0       0     1
884       3  0.3125  0.013761        S       0       0     1
885       3  0.4875  0.056848        Q       5       1     0
886       2  0.3375  0.025374        S       0       0     1
887       1  0.2375  0.058556        S       0       1     0
888       3  0.3500  0.045771        S       3       1     0
889       1  0.3250  0.058556        C       0       0     1
890       3  0.4000  0.015127        Q       0       0     1

[891 rows x 7 columns]

In [94]:
dummies2= pd.get_dummies(X_train.Embarked)
X_train=X_train.drop("Embarked",axis="columns")
X_train=pd.concat([X_train,dummies2],axis="columns")
X_train

     Pclass     Age      Fare  Family  female  male  C  Q  S
0         3  0.2750  0.014151       1       0     1  0  0  1
1         1  0.4750  0.139136       1       1     0  1  0  0
2         3  0.3250  0.015469       0       1     0  0  0  1
3         1  0.4375  0.103644       1       1     0  0  0  1
4         3  0.4375  0.015713       0       0     1  0  0  1
5         3  0.3500  0.016510       0       0     1  0  1  0
6         1  0.6750  0.101229       0       0     1  0  0  1
7         3  0.0250  0.041136       4       0     1  0  0  1
8         3  0.3375  0.021731       2       1     0  0  0  1
9         2  0.1750  0.058694       1       1     0  1  0  0
10        3  0.0500  0.032596       2       1     0  0  0  1
11        1  0.7250  0.051822       0       1     0  0  0  1
12        3  0.2500  0.015713       0       0     1  0  0  1
13        3  0.4875  0.061045       6       0     1  0  0  1
14        3  0.1750  0.015330       0       1     0  0  0  1
15        2  0.6875  0.031230       0       1     0  0  0  1
16        3  0.0250  0.056848       5       0     1  0  1  0
17        2  0.3500  0.025374       0       0     1  0  0  1
18        3  0.3875  0.035134       1       1     0  0  0  1
19        3  0.3500  0.014102       0       1     0  1  0  0
20        2  0.4375  0.050749       0       0     1  0  0  1
21        2  0.4250  0.025374       0       0     1  0  0  1
22        3  0.1875  0.015672       0       1     0  0  1  0
23        1  0.3500  0.069291       0       0     1  0  0  1
24        3  0.1000  0.041136       4       1     0  0  0  1
25        3  0.4750  0.061264       6       1     0  0  0  1
26        3  0.3500  0.014102       0       0     1  1  0  0
27        1  0.2375  0.513342       5       0     1  0  0  1
28        3  0.3500  0.015379       0       1     0  0  1  0
29        3  0.3500  0.015412       0       0     1  0  0  1
..      ...     ...       ...     ...     ...   ... .. .. ..
861       2  0.2625  0.022447       1       0     1  0  0  1
862       1  0.6000  0.050610       0       1     0  0  0  1
863       3  0.3500  0.135753      10       1     0  0  0  1
864       2  0.3000  0.025374       0       0     1  0  0  1
865       2  0.5250  0.025374       0       1     0  0  0  1
866       2  0.3375  0.027050       1       1     0  1  0  0
867       1  0.3875  0.098561       0       0     1  0  0  1
868       3  0.3500  0.018543       0       0     1  0  0  1
869       3  0.0500  0.021731       2       0     1  0  0  1
870       3  0.3250  0.015412       0       0     1  0  0  1
871       1  0.5875  0.102579       2       1     0  0  0  1
872       1  0.4125  0.009759       0       0     1  0  0  1
873       3  0.5875  0.017567       0       0     1  0  0  1
874       2  0.3500  0.046845       1       1     0  1  0  0
875       3  0.1875  0.014102       0       1     0  1  0  0
876       3  0.2500  0.019218       0       0     1  0  0  1
877       3  0.2375  0.015412       0       0     1  0  0  1
878       3  0.3500  0.015412       0       0     1  0  0  1
879       1  0.7000  0.162314       1       1     0  1  0  0
880       2  0.3125  0.050749       1       1     0  0  0  1
881       3  0.4125  0.015412       0       0     1  0  0  1
882       3  0.2750  0.020527       0       1     0  0  0  1
883       2  0.3500  0.020495       0       0     1  0  0  1
884       3  0.3125  0.013761       0       0     1  0  0  1
885       3  0.4875  0.056848       5       1     0  0  1  0
886       2  0.3375  0.025374       0       0     1  0  0  1
887       1  0.2375  0.058556       0       1     0  0  0  1
888       3  0.3500  0.045771       3       1     0  0  0  1
889       1  0.3250  0.058556       0       0     1  1  0  0
890       3  0.4000  0.015127       0       0     1  0  1  0

[891 rows x 9 columns]

In [95]:
logreg = LogisticRegression()
X_train,X_test,y_train,y_test= train_test_split(X_train,Y_train,test_size=0.2,random_state=42)
logreg.fit(X_train,y_train)
logreg.predict(X_test)
logreg.score(X_test,y_test)

/opt/conda/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.8100558659217877

In [96]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, y_train)
decision_tree.predict(X_test)
logreg.score(X_test,y_test)

0.8100558659217877

In [97]:
svc = SVC()
svc.fit(X_train, y_train)
svc.score(X_test,y_test)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.7988826815642458

In [98]:
knn = KNeighborsClassifier(n_neighbors = 3)
knn.fit(X_train,y_train)
knn.score(X_test,y_test)

0.8044692737430168

In [99]:
test_df["Family"]=test_df["SibSp"]+test_df["Parch"]
test_df["Family"]

0      0
1      1
2      0
3      0
4      2
5      0
6      0
7      2
8      0
9      2
10     0
11     0
12     1
13     1
14     1
15     1
16     0
17     0
18     1
19     0
20     1
21     1
22     0
23     1
24     4
25     1
26     1
27     0
28     0
29     2
      ..
388    0
389    4
390    0
391    1
392    2
393    0
394    4
395    1
396    0
397    2
398    0
399    0
400    0
401    1
402    1
403    0
404    1
405    0
406    1
407    2
408    0
409    2
410    0
411    1
412    0
413    0
414    0
415    0
416    0
417    2
Name: Family, Length: 418, dtype: int64

In [100]:
test_df["Age"]=test_df["Age"].fillna(train_df2["Age"].median())
test_df["Age"]=test_df["Age"].round()
test_df=test_df.drop(["Cabin","SibSp","Parch","Ticket","PassengerId"], axis="columns")
dummiest1= pd.get_dummies(test_df.Sex)
test_df=test_df.drop("Sex",axis="columns")
test_df=pd.concat([test_df,dummiest1],axis="columns")
dummiest2= pd.get_dummies(test_df.Embarked)
test_df=test_df.drop("Embarked",axis="columns")
test_df=pd.concat([test_df,dummiest2],axis="columns")
test_df=test_df.drop("Name",axis="columns")
test_df["Fare"]=test_df["Fare"].fillna(test_df["Fare"].median())
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 9 columns):
Pclass    418 non-null int64
Age       418 non-null float64
Fare      418 non-null float64
Family    418 non-null int64
female    418 non-null uint8
male      418 non-null uint8
C         418 non-null uint8
Q         418 non-null uint8
S         418 non-null uint8
dtypes: float64(2), int64(2), uint8(5)
memory usage: 15.2 KB

In [101]:
test_df[['Age','Fare']]=scaling.fit_transform(test_df[['Age','Fare']])    
test_df

     Pclass       Age      Fare  Family  female  male  C  Q  S
0         3  0.447368  0.015282       0       0     1  0  1  0
1         3  0.618421  0.013663       1       1     0  0  0  1
2         2  0.815789  0.018909       0       0     1  0  1  0
3         3  0.355263  0.016908       0       0     1  0  0  1
4         3  0.289474  0.023984       2       1     0  0  0  1
5         3  0.184211  0.018006       0       0     1  0  0  1
6         3  0.394737  0.014891       0       1     0  0  1  0
7         2  0.342105  0.056604       2       0     1  0  0  1
8         3  0.236842  0.014110       0       1     0  1  0  0
9         3  0.276316  0.047138       2       0     1  0  0  1
10        3  0.368421  0.015412       0       0     1  0  0  1
11        1  0.605263  0.050749       0       0     1  0  0  1
12        1  0.302632  0.160574       1       1     0  0  0  1
13        2  0.828947  0.050749       1       0     1  0  0  1
14        1  0.618421  0.119406       1       1     0  0  0  1
15        2  0.315789  0.054107       1       1     0  1  0  0
16        2  0.460526  0.024106       0       0     1  0  1  0
17        3  0.276316  0.014102       0       0     1  1  0  0
18        3  0.355263  0.015469       1       1     0  0  0  1
19        3  0.592105  0.014102       0       1     0  1  0  0
20        1  0.723684  0.115941       1       0     1  1  0  0
21        3  0.118421  0.006189       1       0     1  0  0  1
22        1  0.368421  0.061842       0       1     0  0  0  1
23        1  0.276316  0.119804       1       0     1  1  0  0
24        1  0.631579  0.512122       4       1     0  1  0  0
25        3  0.657895  0.028302       1       0     1  0  0  1
26        1  0.289474  0.120975       1       1     0  1  0  0
27        3  0.289474  0.014102       0       0     1  1  0  0
28        1  0.539474  0.059532       0       0     1  0  0  1
29        3  0.368421  0.042315       2       0     1  1  0  0
..      ...       ...       ...     ...     ...   ... .. .. ..
388       3  0.276316  0.015127       0       0     1  0  1  0
389       3  0.078947  0.041136       4       0     1  0  0  1
390       1  0.302632  0.182500       0       0     1  0  0  1
391       1  0.671053  0.076904       1       1     0  0  0  1
392       3  0.171053  0.039525       2       0     1  0  0  1
393       2  0.618421  0.020495       0       0     1  0  0  1
394       3  0.381579  0.042990       4       0     1  0  0  1
395       1  0.236842  0.117112       1       1     0  0  0  1
396       3  0.315789  0.014151       0       0     1  0  1  0
397       1  0.631579  0.154588       2       1     0  1  0  0
398       3  0.289474  0.015176       0       0     1  0  0  1
399       3  0.407895  0.015094       0       0     1  0  1  0
400       1  0.394737  0.321798       0       1     0  0  0  1
401       2  0.500000  0.040989       1       0     1  0  0  1
402       1  0.289474  0.115941       1       1     0  1  0  0
403       1  0.223684  0.091933       0       0     1  0  0  1
404       1  0.565789  0.054107       1       0     1  1  0  0
405       2  0.263158  0.027058       0       0     1  1  0  0
406       2  0.302632  0.020495       1       0     1  0  0  1
407       1  0.657895  0.412821       2       0     1  1  0  0
408       3  0.368421  0.015070       0       1     0  0  1  0
409       3  0.039474  0.026887       2       1     0  0  0  1
410       3  0.368421  0.015127       0       1     0  0  1  0
411       1  0.486842  0.175668       1       1     0  0  1  0
412       3  0.368421  0.015176       0       1     0  0  0  1
413       3  0.368421  0.015713       0       0     1  0  0  1
414       1  0.513158  0.212559       0       1     0  1  0  0
415       3  0.500000  0.014151       0       0     1  0  0  1
416       3  0.368421  0.015713       0       0     1  0  0  1
417       3  0.368421  0.043640       2       0     1  1  0  0

[418 rows x 9 columns]

In [103]:
rf= RandomForestClassifier(n_estimators=90,max_leaf_nodes=60)
rf.fit(X_train,y_train)
print(rf.score(X_test,y_test))
submission_preds=rf.predict(test_df)
df=pd.DataFrame({"PassengerId":test_ids.values,"Survived":submission_preds})
df.to_csv("submission.csv",index=False)

0.8324022346368715

In [104]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression', 
              'Random Forest', 'Naive Bayes', 'Perceptron', 
              'Stochastic Gradient Decent', 'Linear SVC', 
              'Decision Tree'],
    'Score': [acc_svc, acc_knn, acc_log, 
              acc_random_forest, acc_gaussian, acc_perceptron, 
              acc_sgd, acc_linear_svc, acc_decision_tree]})
models.sort_values(by='Score', ascending=False)

                        Model  Score
3               Random Forest  86.76
8               Decision Tree  86.76
1                         KNN  84.74
0     Support Vector Machines  83.84
2         Logistic Regression  80.36
6  Stochastic Gradient Decent  79.35
7                  Linear SVC  79.01
5                  Perceptron  78.00
4                 Naive Bayes  72.28